:root {
  --btnRed: #F3480F;
  --btnGreen: #0CF42B;
  --btnGray: #AFAFB2;
  --btnText: #ffffff;
  --black: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}


main {
  margin-top: 2rem;
  display: flex;
}

/*Footer*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #AFAFB2;
}

.footer-redes,
.footer-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.25rem;
  padding: 1.75rem;
  a { 
    text-decoration: none;
    color: var(--black);
  }
}

.footer-redes {
  i {
    font-size: 2rem;
  }
}


@media (max-width: 750px) {
  main{
    flex-direction: column;
  }
}


@media (max-width: 430px) {
  h1 {
    font-size: 1.5rem;
  }
  footer{
    flex-direction: column;
  }
  .footer-name {
    flex-direction: column;
    padding: 0.5rem;
  }
}
  