.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview-header {
  flex-direction: row;
}

.preview-img {
  .triangulo{
    position: relative;
  }
  img {
    position: absolute;
    right: clamp(0rem, 2.5vw, 1rem);
    top: 50px;
    width: 6rem;
    height: 7rem;
  }
}

.triangulo {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 200px 128px;
  border-color: transparent transparent var(--white) transparent;
}

.header-nombres {
  h2 {
    padding-top: 1rem;
    font-size: 1.75rem;
  }
}

.header-bio {
  margin-left: 1rem;

  h3 {
    font-size: 1.25rem;
    margin-top: 1rem;
  }

  h4 {
    text-align: center;
    padding: .75rem 0;
  }

  p {
    text-wrap: balance;
  }
}

.header-contacto {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  
  .triangulos {
    margin: .2rem;
    border-right: .5rem solid var(--blue);
    border-radius: 1rem;
    background-color: var(--white);
    padding: .3rem;

    h4 {
      font-size: 1.5rem;
    }
  }
}

.header-contacto-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--btnGray);
}
.header-contacto-div {
  gap: 0.3rem;
  div {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2rem;
    background-color: var(--white);
    max-width: 300px;
    border-radius: 1rem;
  }
  .header-contacto-p {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
}

.preview-section {
 display: flex;
}

.lateral {
  /* width: 40%; */
  margin-top: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
}

.main-section-div {
  margin: 0 .5rem;
}

.datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  
  
  h4 {
    margin-bottom: .75rem;
    border-radius: 1rem;
    padding: .25rem;
  }
}

.datos-div-4{
  background: var(--white);
  width: 80%;
  text-align: center;
  border: 2px solid black; 
  border-bottom: none;
}
.datos-ul {
  margin: 0 .5rem;
  padding: 1rem;
  width: 100%;
  border: solid 1px var(--black);
}

.datos-div {
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.habilidad{
  margin: 0;
  border-bottom-style: none ;
}
.paso {
  border-top-style: none
} 
.badge {
  font-size: .75rem;
  font-weight: 600;
  text-align: center;
  border-radius: 63rem 0 0 63rem;
  padding: .25rem .5rem;
}

.badge-final {
  border-radius:0 63rem 63rem 0;
  background: var(--blue);
  color: var(--btnText);
}