/* Nav Section */
.nav {
  max-width: 878px;
  max-height: 72px;
  border-radius: 50px;
  border: 1px solid #EFEFEF;
}

.navSection ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  list-style: none;
  gap: 1rem;
}

/* InputText */
.inputText {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  input {
    padding: 0.15rem;
    border: 1px solid #EFEFEF;
    border-radius: .5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
  }

  input:focus {
    box-shadow: 5.5px 7px 0 black;
  }
}


/* Boton */
.botones {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 6px 16px;
  margin: 1rem;
  color: var(--btnText);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.btn-borrar {
  background-color: var(--btnRed);
}

.btn-visualizar {
  background-color: var(--btnGray);
}

.btn-ejemplo {
  background-color: var(--btnGreen);
}